<appSettings>
  <add key="dbList" value="DSN" />
  <add key="DSN" value="data source=198.71.225.146; initial catalog=gorillasportz; user id=gorillasportz; password=Parnell1!" />
  <add key="AppURI" value="http://golf.gorillasportz.net" />
  <add key="AppHost" value="golf.gorillasportz.net" />
  <add key="allowUnsecure" value="true" />
  <add key="errorEmail" value="mike@gourlay.com" />
</appSettings>


