
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>emrlink</title>
</head>
<body>
<div>
    <iframe src="https://uat.emr-link.com/labs/login.aspx" style="width: 100%; height:800px"></iframe>
</div>
</body>
</html>
