<appSettings>
  <add key="dbList" value="DSN" />
  <add key="DSN" value="data source=localhost\SQLEXPRESS; initial catalog=GorillaGolf; user id=sa; password=sa" />
  <add key="AppHost" value="localhost" />
  <add key="allowUnsecure" value="true" />
  <add key="errorEmail" value="mike@gourlay.com" />
</appSettings>